/* html, body, h1, h2, h3, h4 {
    margin: 0;
} */

html {
    font-family: 'Ropa Sans', sans-serif; 
    /* DINCyr Medium я не нашел в открытом доступе  */
}

.main-container {
    box-sizing: border-box;
    width: 1275px;
    height: 982px;
    background-image: url(../images/main_bg.png);
    background-size: cover;
    margin: 0 auto;
    content: '';
    display: block;
    clear: both;
    position: relative;
}

.block-555 {
    width: 555px;
    height: 982px;
    margin-left: 155px;
}

.block-555 h2 {
    height: 62px;
    background-color: #ff9000;
    color: #fff;
    font-size: 48px;
    text-transform: uppercase;
    margin-top: 45px;
    padding-top: 7px;
    text-align: center;
}

.block-555 h3 {
    box-sizing: border-box;
    height: 48px;
    color: #323441;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

.block-555 h1 {
    height: 75px;
    background-color: #ff9000;
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

.block-555 .p1 {
    color: #323441;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 16.5px auto;
    padding: 0 0 0 100px;
}

.logo img {
    margin-top: 55px;
}

.block-555 .counter span {
    width: 386px;
    height: 87px;
    display: inline-block;
    background-image: url(../images/counter.png);
    margin-left: 53px;
}

.sendmail {
    height: 47px;
    content: '';
    display: block;
    clear: both;
    margin-top: 63px;
}

.sendmail .yourmail {
    box-sizing: border-box;
    width: 239px;
    height: 47px;
    background: #fff;
    border: 1px solid #ef782b;
    outline: none;
    font-family: 'OpenSans Light', sans-serif;
    color: #717279;
    font-size: 14px;
    padding: 0 0 0 17px;
    float: left;
}

.sendmail .selcity {
    width: 158px;
    height: 47px;
    background: #fff;
    font-family: 'OpenSans Light', sans-serif;
    color: #717279;
    font-size: 14px;
    border: 1px solid #ef782b;
    outline: none;
    float: left;
    margin-left: 10px;
    padding: 0 0 0 17px;
}

.sendmail input[type="submit"] {
    width: 128px;
    height: 47px;
    background: #ff9000;
    font-family: 'OpenSans', serif;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #fff;
    outline: none;
    padding: 0;
    float: right;
}

.info {
    box-sizing: border-box;
    height: 90px;
    background: #ff9000;
    color: #fff;
    margin-top: 48px;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
}

.info p {
    text-align: center;
    padding: 15px 25px;
}

.container {
    margin-top: 35px;
}

.block-177-left {
    width: 177px;
    height: 187px;
    background: #323441;
    float: left;
}

.block-177-left img {
    width: 33px;
    height: 32px;
    display: block;
    margin: 23px auto;
}

.block-177-left .slogan {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin: 0 15px;
    text-align: center;
}

.block-177-left p {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.block-182-center {
    width: 182px;
    height: 187px;
    background: #323441;
    float: left;
    margin-left: 10px;
}

.block-182-center img {
    width: 30px;
    height: 33px;
    display: block;
    margin: 22px auto;
}

.block-182-center .slogan {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin: 0 30px;
    text-align: center;
}

.block-182-center p {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin: 10px 22px;
}

.block-177-right {
    width: 177px;
    height: 187px;
    background: #323441;
    float: right;
}

.block-177-right img {
    width: 33px;
    height: 33px;
    display: block;
    margin: 22px auto;
}

.block-177-right .slogan {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin: 0 30px;
    text-align: center;
}

.block-177-right p {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin: 10px 15px;
}

footer {
    box-sizing: border-box;
    width: 1275px;
    height: 48px;
    background-color: #323441;
    margin: 0 auto;
}

footer p {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    margin: 0 300px;
    padding-top: 15px;
    color: #fff;
}