html, body {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  height: 100%;
}

.content {
  width: 100%;
  background-image: url(../images/main_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  background-position: 0 100%;
  overflow: hidden;
}

.main-wrapper {
  box-sizing: border-box;
  width: 555px;
  margin-left: 155px;
}

.header {
  font-family: "DINCyr Medium";
  overflow: hidden;
}

.header__logo {
  height: 29px;
  margin-top: 60px;
}

.header__item1 {
  background-color: #ff9000;
  color: #fff;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
}

.header__item2 {
  background-color: #ff9000;
  color: #fff;
  font-size: 49.85px;
  text-transform: uppercase;
  margin-top: 46px;
  padding-top: 7px;
  text-align: center;
}

.header__item3 {
  color: #323441;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  padding: 13px 0;
  font-family: "DINCyr Medium";
}

.header__item4 {
  font-family: 'PlumbBoldC';
  color: #323441;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 33px 0 0 110px;
}

.header__counter {
  height: 87px;
  /* background-image: url(../images/counter.png);
  background-repeat: no-repeat;
  background-size: auto; */
  margin-top: 20px;
}

.form {
  margin-top: 62px;
}

.form-input {
  width: 239px;
  height: 47px;
}

.input-mod {
  background: #fff;
  border: 1px solid #ef782b;
  outline: none;
  font-family: "OpenSans Light", sans-serif;
  color: #717279;
  padding-left: 15px;
}

.form-select {
  width: 158px;
  height: 47px;
}

.select-mod {
  background: #fff;
  font-family: "OpenSans Light", sans-serif;
  color: #717279;
  border: 1px solid #ef782b;
  outline: none;
  margin-left: 10px;
  padding-left: 15px;
}

.form-button {
  width: 128px;
  height: 47px;
}

.button-mod {
  background: #ff9000;
  font-family: "OpenSans", sans-serif;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #fff;
  outline: none;
  float: right;
}

.slogan-block {
  box-sizing: border-box;
  background: #ff9000;
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-top: 48px;
  padding: 17px 30px;
}

.invert {
  font-weight: bold;
}

.options {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.options-theme {
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin-top: 35px;
}

.options__block {
  width: 177px;
  height: 187px;
  background: #323441;
  flex-flow: wrap;
  justify-content: center;
}

.options__center {
  width: 182px;
  height: 187px;
  background: #323441;
  flex-flow: wrap;
  justify-content: center;
}

.options__elem1 {
  display: inline-block;
  margin-top: 21px;
}

.options__elem2 {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 17px;
  line-height: normal;
}

.options__elem3 {
  margin-top: 20px;
}

.footer {
  box-sizing: border-box;
  width: 100%;
  background-color: #323441;
}

.footer__copyright {
  color: #fff;
  margin-left: 300px;
  padding: 20px 0;
}

/* @font-face {
  font-family: 'OpenSans Bold';
  src: url('../fonts/OpenSans-Bold-webfont.ttf')format('truetype');
  font-weight: bold;
  font-style: normal;
} */

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular-webfont.ttf')format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans Light';
  src: url('../fonts/OpenSans-Light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINCyr Medium';
  src: url('../fonts/DinCyMd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlumbBoldC';
  src: url('../fonts/plumbboldc-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}